@page "/removeDuplicates"
@inherits RemoveDuplicatesFromStringBase
<head>
    <link href="../css/AlgorithmsP1.css" rel="stylesheet" />
    <link href="../css/AlgorithmsP2.css" rel="stylesheet" />
</head>

<div class="description_container">
    <div class="content_container">
        <div class="title_container">
            <h2>Remove Duplicates</h2>
            <div class="heading_underline blinker"></div>
        </div>
        <p>This program will remove duplicate characters from a string and show how many characters were removed</p>
    </div>
</div>


<div class="program_container">
    <div class="row">
        <div class="col-md-3">
            <div class="program_start_container">
                <div class="input_container">
                    <h5>Write something: </h5>
                    <input @bind-value="str" @bind-value:event="oninput" />
                </div>
                <div class="start_container">
                    <button class="btn btn-primary" @onclick="RemoveDuplicates">Remove Duplicates</button>
                </div>
                <div class="info_container">
                    <span class="sucess">@success</span> <span class="error">@error</span>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="output_container">

                <h4 class="p-2">String after: @after</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Character</th>
                            <th>Removed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (var el in duplicatesList)
                            {
                                <tr>
                                    <td>@el.Character</td>
                                    <td>@el.Quantity</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

